<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">ORPHANAGE MANAGEMENT SYSTEM</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
          </nav>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            </svg>
          </button>
        </div>
      </header>
    <section class="text-gray-600 body-font">
        <div class="container">
          <div class="flex flex-col">
          </div>
          <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
            <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
              <div class="rounded-lg h-64 overflow-hidden">
                <img src= "static/images/img_4.png">
              </div>
              <h2 class="text-xl font-medium title-font text-gray-900 mt-5"><b>AADARANA ORPHAN HOME</b></h2>
              <p class="text-base leading-relaxed mt-2">The Home and School for Orphaned and Needy Students.AADARANA is a non-profit organization working for underprivileged children - orphaned, abandoned,</p>
              <a href="https://www.google.com/maps/place/Aadarana+Home/@17.3524697,78.5392539,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb9897b180f779:0x3420c69fab99805!8m2!3d17.3524676!4d78.5414516" class="text-indigo-500 inline-flex items-center mt-3"><button>LOCATION</button>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
              <div class="rounded-lg h-64 overflow-hidden">
                <img src= "static/images/img.png">
              </div>
              <h2 class="text-xl font-medium title-font text-gray-900 mt-5"><b>NEW LIFE FOUNDATION</b></h2>
              <p class="text-base leading-relaxed mt-2">New Life Foundation’ IS THE HOME FOR ORPHANED, NEEDY, NEGLECTED AND DESTITUTE CHILDREN OF OUR SOCIETY.
                ‘New Life Foundation’ embraces these helpless children with warm and protective hands and provides them food, shelter, and clothes.</p>
              <a href="https://www.google.com/maps/search/new+life+foundation+hyderabad/@17.4172424,78.3796497,12z/data=!3m1!4b1" class="text-indigo-500 inline-flex items-center mt-3"><button>LOCATION</button>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
              <div class="rounded-lg h-64 overflow-hidden">
                <img src="static/images/img_2.png">
              </div>
              <h2 class="text-xl font-medium title-font text-gray-900 mt-5"><b>HOME AND SCHOOL</b></h2>
              <p class="text-base leading-relaxed mt-2">The official name of the orphanage is “Caring Lives for Sharing Love Charitable Trust”
                Currently, there are 45 children in the care and love family..!! Care & love is home for orphans, semi-orphans, abandoned and needy children from the slums and streets of Hyderabad</p>
              <a href="https://www.google.com/maps/search/the+home+and+school+for+orphanage+hyderabad/@17.4589822,78.4095911,14z/data=!3m1!4b1" class="text-indigo-500 inline-flex items-center mt-3"><button>LOCATION</button>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
</body>
</html>